body::after {
  content: "";
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.board {
  max-width: 100%;
  position: relative;
}

.red {
  fill-opacity: 1 !important;
  fill: $red !important;
}

.green {
  fill-opacity: 1 !important;
  fill: $green !important;
}

.blue {
  fill-opacity: 1 !important;
  fill: $blue !important;
}

.yellow {
  fill-opacity: 1 !important;
  fill: $yellow !important;
}

.purple {
  fill-opacity: 1 !important;
  fill: $purple !important;
}

.brown {
  fill-opacity: 1 !important;
  fill: $brown !important;
}


.selected {
  fill: none;
  fill-opacity: 1 !important;
  fill:rgb(74,74,75, 1)!important;
  z-index: 99;
}

#map:hover {
  cursor: default;
}

.bottom {
  width: 100vw !important;
  background-color:  #281010 !important;
  opacity: 1 !important;

}

