.board {
  max-width: 100%;
  position: relative;
}

.red {
  fill-opacity: 1 !important;
  fill: $red !important;
}

.green {
  fill-opacity: 1 !important;
  fill: $green !important;
}

.blue {
  fill-opacity: 1 !important;
  fill: $blue !important;
}

.yellow {
  fill-opacity: 1 !important;
  fill: $yellow !important;
}

.purple {
  fill-opacity: 1 !important;
  fill: $purple !important;
}

.brown {
  fill-opacity: 1 !important;
  fill: $brown !important;
}


.selected {
  fill: none;
  fill-opacity: 1 !important;
  fill: rgb(254, 234, 255) !important;
  z-index: 99;
}

#map:hover {
  cursor: default;
}


